.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Provides spacing between cards */
    justify-content: flex-start;
  }
  
  .product-card {
    flex: 1 1 325px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: transparent !important;
    border-radius: 8px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensures content doesn't overflow rounded corners */
    
    /* Add a subtle white background to the card content */
    .mat-card {
      background: white;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Hover effect */
  .product-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #E6EFF7 !important;
    cursor: pointer;
    
  }
  
  /* Optional: Make the image fit nicely inside the card */
  .product-card img {
    height: 200px;
    object-fit: contain; /* Ensures the image is fully visible and not cropped */
    margin: auto; /* Centers the image */
  }
  
  /* Optional: Style the actions row for better alignment */
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto; /* Pushes the actions to the bottom of the card */
    margin-left:7px;
  }
  
  /* Optional: Style the price for emphasis */
  .product-price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .products-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .product-card {
      width: 100%;
      max-width: 400px;
    }
  }

  .product-image {
    margin-top:30px !important;
  }

  ::ng-deep .button-action {
    color: #2b348d !important;
    
    &:hover {
      background-color: #e7e9fe !important;
    }
  }