<div class="mat-elevation-z8">

  <div class="container my-5">
    <button mat-button color="primary" (click)="goBack()" class="pull-left back-button">
        <mat-icon>arrow_back</mat-icon> Back to Products
    </button>
    <button mat-button color="accent" (click)="clearCart()" class="pull-right">
        <mat-icon>delete</mat-icon> Clear Cart
    </button>
    <mat-card>
        

      <mat-card-header>
       
        <mat-card-title *ngIf="cartList.length>0">Your Shopping Cart</mat-card-title>
        <mat-card-title *ngIf="cartList.length===0">Your Shopping Cart is Empty</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table *ngIf="cartList.length>0" mat-table [dataSource]="dataSource" >
  
          <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
              <img [src]="item.imageUrl" [alt]="item.name" class="product-cart-image">
            </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
          </ng-container>
  
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let item"> {{ item.price | currency:'USD':'symbol':'1.2-2' }} </td>
          </ng-container>

  
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline" class="quantity-selector">
                <mat-select [(ngModel)]="element.quantity" (selectionChange)="onQuantityChange(element)">
                  <mat-option *ngFor="let qty of quantityOptions" [value]="qty">
                    {{ qty }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button color="warn" (click)="removeItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <div class="subtotal-section mat-elevation-z2" *ngIf="cartList.length>0">
          <h2 class="mat-h2">Subtotal: ${{ calculateSubtotal() | number:'1.2-2' }}</h2>
          <button mat-raised-button color="accent" routerLink="/checkout">Proceed to Checkout</button>

        </div>
      </mat-card-content>
    </mat-card>
  </div>