<div class="product-details-container" *ngIf="product">
    <button mat-button  (click)="goBack()" class="button-action">
      <mat-icon>arrow_back</mat-icon> Back to Products
    </button>
    
    <div class="product-content">
      <div class="product-image">
        <img [src]="product.imageUrl" [alt]="product.name" class="main-image">
      </div>
      
      <div class="product-info">
        <h1 class="product-title">{{ product.name }}</h1>
        <p class="product-price">${{ product.price }}</p>
        
        <div class="product-actions">
          <button mat-raised-button class="button-action" (click)="product.buttonTitle==='Add To Cart' ? addToCart(product.id) : goToCart()">
            <mat-icon>add_shopping_cart</mat-icon> {{product.buttonTitle==='Remove From Cart' ? 'Go To Cart' : product.buttonTitle}}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!product" class="loading">
    <mat-spinner></mat-spinner>
    <p>Loading product details...</p>
  </div>
  